@charset "UTF-8";
::-webkit-scrollbar{
    height: 0px;
    width: 0px;
}
*{
    margin: 0px;
    padding: 0px;
}
img{
    width: 100vw;
    height: 100vh;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    background-color: darkred;
    text-align: center;
    color: white;
}
p>a{
    text-decoration: none;
    color: white;
}
p:hover{
    background-color: red;
}