@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: lightgray;
}
header{
    background-color: darkgray;
}
header>h1{
    text-align: center;
    padding: 10px;
}
span#burguer{
    background-color: rgb(52, 52, 52);
    color: white;
    display:block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
span#burguer:hover{
    background-color: white;
    color: black;
}
menu{
    background-color: gray;
    display: block;
    text-align: center;
}
menu a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    text-align: center;
    border: 1px solid lightgray;
}
menu a:hover{
    background-color: lightgray;
}

main{
    padding: 10px;
    margin: auto;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    width: 90%;
}
main p{
    text-align: justify;
    padding: 10px;
    line-height: 1.2em;
}
